<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Reporte PDF{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() }}/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() }}/bundles/sonatacore/vendor/components-font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() }}/bundles/admin/css/main.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
