{% if errors|length > 0 %}
    <div class="help-block sonata-ba-field-error-messages">

        <ul class="list-unstyled">
            {% for error in errors %}
                <li class="texto-error">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{error.message|trans|raw}}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}