<td class="sonata-ba-list-field" objectid="{{object.id}}">
    {% if object.puntoAtencion %}
        {{object.puntoAtencion.barrio}}
    {% elseif object.escenarioDeportivo%}
        {{object.escenarioDeportivo.barrio}}
    {% endif %}
</td>
