<a href="{{  path('info_complementaria', {'organismo':object.id})  }}" class="btn btn-sm btn-default view_link" title="{% trans %}admin.botones.editar{% endtrans %}">
    <i class="fa fa-pencil-square" aria-hidden="true"></i>
    {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
</a>