{% block encuesta_pregunta_type_row %}
 <div class="campoGris row mg-bottom" >
    
        <div class="col-md-12">
          <strong>
                {{form_label(form.nombre)}}
            </strong>
            {{ form_widget(form.nombre) }}
            {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.nombre.vars.errors }%}
        </div>
      
         <div class="col-md-12 encuestaOpciones">
                <section class="col-xs-12 error-mesajes">
                    {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.vars.errors }%}
                    {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.encuestaOpciones.vars.errors }%}
                </section>
                {%
                    form_theme form
                    'AdminBundle:Encuesta:respuesta_opcion.html.twig'
                    'jquery.collection.html.twig'
                %}
                {{ form_row(form.encuestaOpciones) }}
        </div>
        {{ form_rest(form) }}    
</div>
{% endblock %}
