<div class="campoAzul row">
    <div class="col-xs-12">
        <div class="alertaVerde">
            <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
            <section>
                {{ 'mensaje.usuario.deportista.creado' | trans }}
            </section>
        </div>
    </div>
</div>